.head {
  width: 100vw;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4vw 0;
  margin: 28px 0;

  &__logo {
    height: 100%;
    aspect-ratio: 2 / 1;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    width: 40px;
    height: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px 0;
    cursor: pointer;

    &--open{
      height: 30px;
      width: 30px;
      padding: 0;
      position: fixed;
      z-index: 8;
      right: 5vw;
      top: 28px;
      border: 2px solid red;
      

      

     
    }
  }
  &__btnBarre {
    width: 100%;
    height: 3px;
    background-color: var(--color-dark);
    transform-origin: 50% 50%;
    transition: 0.6s;
   &--open{
    transition: 0.2s;
    &:nth-child(1){
      transform: translateX(0px) translateY(12px) rotate(-45deg);
      transition: 0.3s;

    }
    &:nth-child(2){
      transform: translateX(-20px) scale(0);
      transition: 0.3s;
    }
    &:last-child{
      transform: translateX(0px) translateY(-12px) rotate(45deg);
      transition: 0.3s;
    }
   }
    
  }

  &__nav {
    width: auto;
  }
}

.nav {
  display: none;
  &--open {
    
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #0000188f;
    z-index: 5;
    top: 0;
    left: 0;
  }

  &__list {
    animation: openNavMobile 1.4s both;
    animation-delay: 0.4s;
    width: 65%;
    height: 100%;
    background-color: var(--color-white);
    margin: 0 0 0 35%;
    display: flex;
    flex-direction: column;
    padding: 20vh 5vw 30vh;
    row-gap: 12px;
    :only-child{

    }
  }
  &__el{
    animation: elANim 0.3s both;
    animation-delay: 0.7s;

    &:nth-child(2){
      animation-delay: 1s;
    }
    &:nth-child(3){
      animation-delay: 1.3s;
    }
    &:nth-child(4){
      animation-delay:1.6s;
    }
    &:nth-child(5){
      animation-delay: 1.9s;
    }
  }

  &__link {
    cursor: pointer;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    padding: 8px 20px 8px 0;
    width: auto;
    transition: 0.3s;

    &:hover{
      transition: 0.5s;
      // transform: skew(-26deg);
      color: var(--color-red);
      padding: 8px 20px 8px 10px;
    }

    &--actif{
      color: var(--color-red);
      transition: 0.3s;
    }
  }
}



@media(min-width:600px){
  .nav{

  }
}

@keyframes elANim{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes openNavMobile{
  from{
    transform: translateX(80vw);
   

  }
  40%{
    transform: translateX(30vw);
  }

  to{ 
    transform: translateX(0vw);
    
  }
}