.sect {
  padding: 0 4vw;
  &--first {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
  }

  &__boxContent {
    width: 100%;
    height: auto;
    //min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 28px;
  }

  &__img {
    width: 100%;
    height: auto;
    min-height: 300px;
    object-fit: cover;
  }
  &__title {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    max-width: 10ch;
    height: auto;

    &--2 {
      font-size: 32px;
    }
    &--3 {
      font-size: 20px;
      letter-spacing: 0.2px;
      max-width: none;
      margin: 0 0 14px 0;
    }
    &--jaune {
      color: var(--color-orange);
    }
  }
  &__txt {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 175%;
  }
  &__link {
    display: inline-flex;
    width: 185px;
    height: 48px;
    color: var(--color-white);
    background-color: var(--color-red);
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4.34px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        transition: 0.6s;
        background-color: var(--color-dark);

    }
  }

  &__boxNew {
    background-color: var(--color-dark);
    width: 100%;
    min-height: 60vh;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    color: var(--color-white);
    padding: 28px 22px;

  }
  &__listNew{
    display: flex;
    flex-direction: column;

  }
  &__elNew{
    padding: 35px 0;
    cursor: pointer;
    &>p{
        color: var(--color-blueG);
    }
    &:hover{
        &>h3{
            transition: 0.2s;
            color: var(--color-orange);
        }
    }
    &:nth-child(2){
        border-top: 1px solid var(--color-darkB);
        border-bottom: 1px solid var(--color-darkB);
    }
  }
}
