.sect {
  padding: 0 4vw;
  &--first {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 29px;
  }

  &__boxContent {
    width: 100%;
    height: auto;
    //min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 28px;
  }

  &__img {
    width: 100%;
    height: auto;
    min-height: 300px;
    object-fit: cover;
  }
  &__title {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    max-width: 10ch;
    height: auto;

    &--2 {
      font-size: 32px;
    }
    &--3 {
      font-size: 20px;
      letter-spacing: 0.2px;
      max-width: none;
      margin: 0 0 14px 0;
    }
    &--jaune {
      color: var(--color-orange);
    }
  }
  &__txt {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 400;
    line-height: 175%;
  }
  &__link {
    display: inline-flex;
    width: 185px;
    height: 48px;
    color: var(--color-white);
    background-color: var(--color-red);
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 4.34px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        transition: 0.6s;
        background-color: var(--color-dark);

    }
  }

  &__boxNew {
    background-color: var(--color-dark);
    width: 100%;
    min-height: 60vh;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    color: var(--color-white);
    padding: 28px 22px;

  }
  &__listNew{
    display: flex;
    flex-direction: column;

  }
  &__elNew{
    padding: 35px 0;
    cursor: pointer;
    &>p{
        color: var(--color-blueG);
    }
    &:hover{
        &>h3{
            transition: 0.2s;
            color: var(--color-orange);
        }
    }
    &:nth-child(2){
        border-top: 1px solid var(--color-darkB);
        border-bottom: 1px solid var(--color-darkB);
    }
  }

  &--second{
    width: 100%;
    margin: 64px 0 0 0;
    padding: 0 4vw;
    
  }
  &__listBot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 50px;
  }
  &__elBot{
    width: 100%;
    height: auto;
    min-height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
  }
  &__elBox{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 6px 0;
    //border: 2px solid greenyellow;
    cursor: pointer;

    &>h2{
      color: var(--color-blueG);
    }
    &>h3{
      margin: 0;
    }

    &:hover{
      transition: 0.3s;
      &>h3{
        color: var(--color-red);
        transition: 0.2s;
      }
    }
  
  }
  &__imgBot{
    height: 100%;
    width: 100px;
    object-fit: cover;
  }
}

.attribution{
  width: 100%;
  height: auto;
  text-align: center;
  font-family: 'Inter';
  font-size: 15px;
  color: var(--color-darkB);
  padding: 40px 0 10px 0;

  &>a{
    color: var(--color-red);

    &:hover{
      color: var(--color-orange);
    }
  }
}


@media(min-width:600px){

  .sect{
    &--first{
      min-height: auto;
      //border: 2px solid red;
    }

    
    padding: 0 11.5vw;
    &__boxContent{
      width: calc(67% - 15px);
      row-gap: 32px;
    }

    &__boxNew{
      width: calc(33% - 15px );
      min-height: auto;
      padding: 28px 38px;
    }
    &__title {
      font-size: 58px;
      max-width: 8ch;
  
      &--2 {
        font-size: 40px;
      }
      &--3 {
        font-size: 20px;
        max-width: none;
        margin: 0 0 20px 0;
      }
      &--jaune {
        color: var(--color-orange);
      }
      
    }
    &__boxAT{
      display: flex;
      flex-direction: column;
      width: 45%;
      margin: 0 0 0 5.5vw;
      row-gap: 32px;
    }

    &--second{
      padding: 0 11.5vw;
    }

    &__elBot{
      width: calc(33% - 30px);
      height: auto;
      min-height: 130px;
      column-gap: 24px;
    }


  }

  .main{
    height: 100vh;
  }
}